.cards{
	display: flex;
	flex-wrap: wrap;
}

.cards-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0 / 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.card {
	padding: 40px;
	display: flex;
	align-items: center;
	justify-items: space-between;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	flex-basis: 250 px;
	flex-grow: 1;
	text-align: center;
}

.card img{
	width: 150px;
	height: 150px;
	border-radius: 6px;
}

.card h3 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 18px;
}