.container{
	width: 700px;
	margin: 0 auto;
}

@media(max-width 960px)
/*for a screen < 960 px, this css will be read */
.container{
	width: 700px;
}
@media(max-width 720px)
.container{
	width: 500px;
}
@media(max-width 520px)
.container{
	width: 350px;
}
